<div class="drawers">
	<div class="drawers-animation">
		<div class="drawers-animation-inner">
			<div class="drawer-item">
				<%= image_tag ('description1.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description2.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description3.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description4.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description5.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description6.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description7.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description8.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description9.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description10.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description11.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description12.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description13.jpg') %>
			</div>
			<div class="drawer-item">
				<%= image_tag ('description14.jpg') %>
			</div>
		</div>
	</div>
</div>
<div class="drawer-result" id="drawer-result" style="position: absolute; z-index: -2;">
	<div class="result-canvas">
        <img class="avatar">
        <div class="content">
        	<%= image_tag @drawResult[:content_image] %>
        </div>
        <div class="description">
			<%= @drawResult[:description] %>
        </div>
	</div>
</div>
<div style="position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: #fff; z-index: -1;">
</div>
<div class="canvas-result fadeout" id="canvas-result" style="z-index: 1;">

</div>
<div class="fb-share-container">
	<!-- <div class="fb-share-button" data-href="http://colorgyfinalfortunedrawer.dev/" data-layout="button"></div> -->
  <% if current_user == @user %>
    <a class="main-btn" onclick="initShare()">分享到FB吧！</a>
  <% else %>
    <div class="fb-login-btn">
      <%= link_to '我也要抽啦！', root_path %>
    </div>
  <% end %>
</div>

<script>
  image_url = null;
  function initShare() {
    _origin = window.location.origin + "<%= user_path(@user) %>";
    url = "https://www.facebook.com/sharer/sharer.php?"
      + "u=" + encodeURIComponent(_origin)
     // + "&display=popup"
     // + "&name=" + '<%= @drawResult && @drawResult[:description] %>'
     // + "&link=" + encodeURIComponent(_origin)
     // + "&picture=" + encodeURIComponent(image_url)
    window.open(url, 'facebook-share-dialog', 'status=0,width=626,height=436')
    // FB.ui({
    //   method: 'share_open_graph',
    //   action_type: 'colorgy-io:draw',
    //   action_properties: JSON.stringify({
    //     type: 'colorgy-io:omikuji',
    //     url: _origin,
    //     title: '<%= @drawResult && @drawResult[:description] %>',
    //     image: "<%= @user && @user.image_url %>"
    //   })
    // }, function(response) {
    //   console.log("post done");
    //   console.log(response);
    // });
  }

  function b64_to_utf8( str ) {
    return decodeURIComponent(escape(window.atob( str )));
  }
  var base64Url = '<%= current_user ? Base64.encode64(current_user.avatar_url).gsub(/\n/, '') : '' %>';

  $('img.avatar').attr('src', '/proxy?url=' + base64Url);

  imagesLoaded( '#drawer-result', function() {
  	console.log('loaded');
    html2canvas($('#drawer-result'), {
      onrendered: function(canvas) {
        imagestring = canvas.toDataURL("image/png");
        console.log(imagestring);
        $("<img />", { src: canvas.toDataURL("image/png") }).appendTo('#canvas-result').addClass('result-img');
        $('#drawer-result').remove();
        var decodeURL = '<%= current_user ? current_user.avatar_url : '' %>';
        // console.log(decodeURL);
        // $('meta[property="og:image"]').attr('content', decodeURL );

        <% if current_user && current_user == @user %>
          $.post('/upload', {"image": imagestring}, function(data) {
            image_url = data["image_url"]
          });
        <% end %>
      }
    });
  });

$(window).load(function(){
	var drawerCount = $('.drawer-item').length;
	var degreePerDrawer = 360 / drawerCount;
	console.log(drawerCount);

	for ( i = 1; i <= drawerCount; i++) {
		console.log('hi');
		var rotateYDegress = degreePerDrawer*i
		var hehe = 'rotateY(' + rotateYDegress +'deg)' + ' ' + 'translateZ(460px)'
		$('.drawer-item:nth-child(' + i + ')').css({
			'transform' : hehe
		})
	};
})
var delay = setTimeout(function(){
    $('.drawers-animation').addClass('fadeout');
       }, 5000);
var delay2 = setTimeout(function(){
    $('.canvas-result').removeClass('fadeout');
       }, 5100);
</script>
